@import "normalize";

body {
  background-color: #D5E1EF;
  font-family: Outfit, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

main {
  width: 22vw;
  padding: 16px 16px 40px 16px;
  background-color: #fff;
  border-radius: 20px;
}

img {
  width: 22vw;
  border-radius: 10px;
}

h1 {
  @include normalize(22px, 120%, #1F314F, 24px auto);
}

p {
  @include normalize(15px, 140%, #68778D, 0 auto);
  letter-spacing: 0.2px;
}

@media only screen and (max-width: 575.98px) {
  main, img {
    width: 77vw;
  }
}